
body{
     background-color: black;
    
}

h1{
    font-size:200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(152, 118, 32);
}
.nav_bar ul{
    list-style-type: none;
  overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.nav_bar a{
    
    text-align: center;
    font-size:150% ;
    padding: 15px;
    color: rgb(172, 167, 167);
    text-decoration: none;
    display: block;
}
.nav_bar a:hover{
     color: darkgoldenrod;
}
.nav_bar li{
    float: left;
}